In [2]:
# Import librerie
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets, svm, metrics
from sklearn.model_selection import train_test_split

In [3]:
sourcePath = "/Users/paone/Desktop/csv_computati"  
for csvFile in os.listdir(sourcePath): 
    database = pd.read_csv(sourcePath + "/" + csvFile,sep = ',', header=0)

In [5]:
database.head

<bound method NDFrame.head of        1     2     3     4     5     6     7     8     9    10  ...   181  \
0    7.0  18.0  27.0  35.0  47.0  56.0  48.0  37.0  28.0  18.0  ...  15.0
1    7.0  18.0  27.0  35.0  47.0  57.0  48.0  37.0  28.0  19.0  ...  16.0
2    7.0  18.0  27.0  35.0  47.0  57.0  48.0  37.0  28.0  19.0  ...  16.0
3    7.0  17.0  26.0  35.0  47.0  56.0  48.0  37.0  28.0  18.0  ...  15.0
4    7.0  18.0  27.0  35.0  47.0  56.0  48.0  38.0  28.0  19.0  ...  15.0
..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
445  7.0  17.0  25.0  33.0  44.0  52.0  45.0  35.0  27.0  18.0  ...  14.0
446  7.0  18.0  26.0  34.0  45.0  54.0  46.0  36.0  27.0  18.0  ...  14.0
447  7.0  17.0  26.0  34.0  45.0  53.0  46.0  36.0  27.0  18.0  ...  14.0
448  7.0  17.0  26.0  34.0  45.0  54.0  46.0  36.0  27.0  18.0  ...  15.0
449  8.0  18.0  26.0  34.0  44.0  53.0  45.0  36.0  27.0  18.0  ...  14.0

     182  183   184   185   186   187  188   189   190
0    0.0  9.0  18.0  15.0  24.0  33.0  9.0  18.0   9.0
1    0.0  9.0  18.0  16.0  25.0  34.0  9.0  18.0   9.0
2    0.0  8.0  18.0  16.0  24.0  34.0  8.0  18.0  10.0
3    0.0  9.0  18.0  15.0  24.0  33.0  9.0  18.0   9.0
4    0.0  8.0  18.0  15.0  23.0  33.0  8.0  18.0  10.0
..   ...  ...   ...   ...   ...   ...  ...   ...   ...
445  1.0  7.0  15.0  13.0  21.0  29.0  8.0  16.0   8.0
446  1.0  7.0  16.0  13.0  21.0  30.0  8.0  17.0   9.0
447  1.0  8.0  16.0  13.0  22.0  30.0  9.0  17.0   8.0
448  1.0  7.0  16.0  14.0  22.0  31.0  8.0  17.0   9.0
449  1.0  8.0  16.0  13.0  22.0  30.0  9.0  17.0   8.0

[450 rows x 190 columns]>